.gsma-3g h2 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsma-3g .no-data {
  padding: 1em;
}

.gsma-3g .epoch.threeg-connections {
  height: 60px;
}

.gsma-3g .epoch.threeg-connections .line {
  stroke-width: 1.5px;
  stroke: #2ca02c;
}
