.imon-scatter-settings #x-jitter, .imon-scatter-settings #y-jitter {
  width: 60px;
}
.imon-scatter-settings .form-group .row {
  margin: 0.3em 1em 0;
}
.imon-scatter-settings .axis-options {
  font-size: 0.8em;
  padding-left: 0.8em;
}
.imon-scatter-settings .axis-options .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
}
.imon-scatter-settings .axis-options.collapsed .caret {
  content: "";
  border-bottom: 0;
  border-top: 4px dashed;
}

.imon-barchart-settings .hidden-options{
  display: none;
}

.imon-barchart-settings .countries-select-box{
  height: 10em;
  overflow: auto;
  border: 1px solid #ccc;
  padding-left: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.imon-barchart-settings .checkbox-small input[type="checkbox"]:checked + label::before,
.checkbox-small input[type="radio"]:checked + label::before{
  background-color: #428bca;
  border-color: #428bca;
}

.imon-barchart-settings .countries-select-number{
  opacity: 0.8;
}

.imon-barchart-settings .countries-option:checked + label{
  font-weight: bold;
}

.imon-barchart-settings #deselect-countries{
  font-size: 0.8em;
}