.lumen {
  padding: 10px 18px 0;
}
.lumen h2 {
  margin: 0 0 0.2em;
  font-size: 1em;
}
.lumen .url-counts {
  height: 80px;
}
.lumen .url-counts .bar {
  fill: #428BCA;
}
.epoch .axis .tick text {
  font-size: 8pt;
}
