.lumen h2 {
  margin: 0 0 0.2em;
  font-size: 1em;
}
.lumen .epoch.url-counts {
  height: 72px;
}

.lumen .url-counts .bar {
  fill: #428BCA;
}

.lumen .axis .tick text {
  font-size: 8pt;
}

.lumen .url-counts .axis path, .axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}
