.gsma-4g h2 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsma-4g .no-data {
  padding: 1em;
}

.gsma-4g .epoch.fourg-connections {
  height: 60px;
}

.gsma-4g .epoch.fourg-connections .line {
  stroke-width: 1.5px;
  stroke: #d62728;
}
