.gsma-4g h2 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsma-4g .current-data {
  text-align: center;
}
.gsma-4g .current-4g {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: 1.5em;
}
.gsma-4g .current-value {
  font-size: 4em;
  line-height: 1em;
}
.gsma-4g .value-label {
  font-size: 0.9em;
}
.gsma-4g .trend-line {
  display: inline-block;
  width: 30%;
}
.gsma-4g .trend-label {
  font-size: 0.9em;
}

.gsma-4g .no-data {
  padding: 1em;
  font-size: 14px;
}

.gsma-4g .epoch.fourg-connections {
  height: 45px;
  width: 100%;
}

.gsma-4g .epoch.fourg-connections .line {
  stroke-width: 1.5px;
  stroke: #d62728;
}

.gsma-4g.country-hidden .current-data {
  margin-top: 1.5em;
}
