@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  background-color: #081F2C;
  font-family: Lato;
  font-weight: 300;
  padding-top: 50px;
  overflow-y: scroll;
}

h1, h2, h3 {
  font-weight: 300;
}

#wrapper {
  padding-top: 20px;
  margin-bottom: 40px;
}

#dashboard {
  position: relative;
  padding: 0 20px 20px;
  .preview-holder {
    background: #428BCA !important;
    border-radius: 5px;
    border: 1px dotted #FFF;
  }
}

#widgets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#instructions {
  margin-top: 3%;
}

span.btn-add-widget {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position: 0px -155px;
  vertical-align: bottom;
}

a.btn-add-widget {
  position: fixed;
  bottom: 55px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  background-position: -50px -105px;
  &:hover {
    background-position: 0px -105px;
  }
}

.dash-btn {
  &:hover, &:focus, &:visited {
    text-decoration: none;
    outline: none;
  }
  background-image: url('/buttons.png');
}

.btn-dash-settings {
  position: fixed;
  bottom: 112px;
  right: 15px;
  width: 35px;
  height: 35px;
  z-index: 1000;
  background-position: 85px -70px;
  &:hover {
    background-position: -15px -70px;
  }
  &.active {
    background-position: 35px -70px;
  }
}

.btn-dash-duplicate {
  position: fixed;
  bottom: 154px;
  right: 15px;
  width: 35px;
  height: 35px;
  z-index: 1000;
  background-position: 85px -35px;
  &:hover {
    background-position: -15px -35px;
  }
  &.active {
    background-position: 35px -35px;
  }
}

.btn-dash-set-country {
  position: fixed;
  bottom: 196px;
  right: 15px;
  width: 35px;
  height: 35px;
  z-index: 1000;
  background-position: 85px 0px;
  &:hover {
    background-position: -15px 0px;
  }
  &.active {
    background-position: 35px 0px;
  }
}

.alert:not(.at-error) {
  z-index: 1050;
  position: fixed;
  bottom: 34px;
  right: 76px;
  font-weight: normal;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}

.modal-dialog {
  z-index: 1050;
}

.gridster > * {
  margin: 0;
}

.home {
  padding-top: 40px;
}

.jumbotron {
  p {
    font-weight: 300;
  }
}

.widget-options {
  max-height: 600px;
  overflow-y: auto;
  border-bottom: 2px solid #D3D3D3;

  h2 {
    margin-top: 0;
    font-size: 1.7em;
  }
}

.popover {
  font-family: Lato;
}
