header {
  z-index: 50;

  .navbar {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    .logo-wrapper {
      position: absolute;
    }

    .navbar-brand {
      padding: 7px 10px;
    }

    .navbar-toggle {
      background-color: white;
    }

    .navbar-right {
      padding-right: 10px;
      overflow: hidden;
      a {
        margin-right: 5px;
      }
    }

    .logo-image {
      background: url("imon_logo_banner.png");
      display: inline-block;
      height: 36px;
      width: 346px;

      &:hover {
        background-position: 0 -36px;
      }
    }
  }
}
