.herdict .herdict-domain {
  font-weight: normal;
  font-size: 1.1em;
}
.herdict li {
  margin-bottom: 0.8em;
}
.herdict ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
}
.herdict .herdict-title {
  margin-left: 1em;
  width: 70%;
  height: 1.3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
