.akamai-traffic-hour, .akamai-traffic-day {
  position: relative;
  height: 120px;
  width: 345px;
  margin-top: 0.5em;
}

.akamai-traffic-hour h3, .akamai-traffic-day h3 {
  font-size: 10pt;
  font-family: 'Lato';
  font-weight: 300;
  text-align: right;
  margin-bottom: 0;
}

.akamai-traffic-hour {
  margin-top: 1.5em;
}

.akamaitraffic .legend {
  float: right;
  width: 95px;
  margin-top: 5.5em;
}

.akamaitraffic .legend .label {
  font-weight: 300;
}
