.iframebody{
  padding:0px;
  background-color: transparent;
  overflow: auto;
}

img.iframe-logo-img {
  display: inline-block;
}

body.widgets-embed {
  background-color: transparent;
  padding-top: 0;

  .widget {
    border-radius: 0;
  }

  .widget-info {
    font-size: 0.8em;
  }

  .title-bar {
    cursor: default;
  }

  .imon-branding {
    text-align: center;
    padding: 5px 0;
    height:30px;
    background-color: #F1F1F1;
  }

}

