body {
  background-color: transparent;
}
body.loaded.widgets-embed {
  padding-top: 0;
  overflow: auto;
  background-color: transparent;

  &.seamless {
    .widget {
      border: 0;
      background: transparent;

      .chart-compose {
        background: transparent;
      }
    }

    .imon-branding {
      background: transparent;
    }
  }

  .widget {
    border-radius: 0;
    border: 4px solid #eee;
    margin-bottom: 0;
    box-shadow: none;
  }

  .widget-info {
    font-size: 0.8em;
  }

  .title-bar {
    cursor: default;
  }

  .imon-branding {
    text-align: center;
    padding-top: 3px;
    height: 30px;
    background-color: #eee;
  }

  img.iframe-logo-img {
    display: inline-block;
  }

  &:hover {
    .unbranded-info {
      .button-info {
        visibility: visible;
      }
    }
  }

  .unbranded-info {
    .button-info {
      visibility: hidden;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #ccc;
      &:hover {
        color: #6192BD;
      }
    }
  }
}

