.widget {
  overflow: hidden;
  position: relative;
  border: 0;
  cursor: default;
  border-radius: 3px;
  -webkit-box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.07);
  box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.07);
  background-color: white;
  color: #333;
  h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 3px;
  }
  
  .buttons {
    position: absolute;
    top: 5px;
    right: 7px;
    
    a {
      margin-left: 1px;
      color: #CBCBCB;

      &:hover, &:focus {
        text-decoration: none;
        color: #428BCA;
      }

      &.remove-widget {
        margin-left: 0;
        &:hover {
          color: darkred;
        }
      }
    }
  }

  .widget-data-source {
    margin: 0;
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 0.8em;
  }
}

.widget.col-1 {
  width: 150px;
}
.widget.col-2 {
  width: 320px;
}
.widget.col-3 {
  width: 490px;
}
.widget.row-1 {
  height: 150px;
}
.widget.row-2 {
  height: 320px;
}
.widget.row-3 {
  height: 490px;
}
