.widget {
  overflow: hidden;
  position: relative;
  border: 0;
  cursor: default;
  border-radius: 3px;
  -webkit-box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.07);
  box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.07);
  background-color: white;
  color: #333;
  h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 3px;
  }
  h2 {
    margin-top: 0.2em;
    font-size: 1.6em;
    margin-bottom: 0.4em;
  }
  
  .buttons {
    position: absolute;
    top: 5px;
    right: 7px;
    
    a {
      margin-left: 1px;
      color: #CBCBCB;

      &:hover, &:focus {
        text-decoration: none;
        color: #428BCA;
      }

      &.remove-widget {
        margin-left: 0;
        &:hover {
          color: darkred;
        }
      }
    }
  }

  .widget-data-source {
    margin: 0;
    position: absolute;
    bottom: 3px;
    right: 6px;
    font-size: 11px;
    z-index: 1000;
  }

  &.col-1 {
    width: 150px;
  }
  &.col-2 {
    width: 320px;

    &.row-1 {
      padding: 6px 12px;
    }

    &.row-2 {
      padding: 7px 15px;
    }

    &.row-3 {
      padding: 6px 15px;
    }
  }
  &.col-3 {
    width: 490px;

    &.row-1 {
      padding: 6px 15px;
    }

    &.row-2 {
      padding: 7px 17px;
    }
  }
  &.row-1 {
    height: 150px;
  }
  &.row-2 {
    height: 320px;
  }
  &.row-3 {
    height: 490px;
  }
}

