<template name="DashboardsAdd">
<a href="#" class="btn-add-widget dash-btn" data-toggle="modal"
   title="Add widgets" data-target=".add-widget-modal">
</a>

<div class="add-widget-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="addWidget" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add Widgets</h4>
      </div>
      <div class="modal-body">
      {{#if Template.subscriptionsReady }}
        <div class="btn-toolbar filter-toolbar" role="toolbar">
          <form class="form-inline filter-form">
            <span class="filter-group-label">Show widgets that display</span>
            <div class="btn-group filter-mode-group" role="group">
              <button type="button" class="btn btn-default filter-mode-btn" id="filter-year">Year</button>
              <button type="button" class="btn btn-default filter-mode-btn" id="filter-indicator" style="margin-left:-.3em;">Indicator</button>
            </div>
            <div class="form-group">
              <select class="filter-indicator form-control filter-control" style="display:none;">
                <option value="any-indicators" selected>any indicator(s)</option>
                <option value="all-indicators">all indicators</option>
                {{# each indicator}}
                <option value="{{ adminName }}">{{ shortName }}</option>
                {{/each}}
              </select>
              <input class="filter-year form-control filter-control" style="display:none;" type="number" min="1900" max="{{ thisYear }}" placeholder="Year" />
            </div>
            <span class="filter-group-label">in</span>
            <div class="form-group">
              <select class="filter-country form-control filter-control">
                <option value="either" selected>any number of countries</option>
                <option value="single">a single country</option>
                <option value="multi">multiple countries (compared)</option>
              </select>
            </div>
            <span class="filter-group-label">including</span>
            <div class="form-group">
              <select class="filter-countries form-control filter-control">
                <option value="any-country" selected>any country</option>
                {{# each country}}
                <option value="{{ code }}">{{ name }}</option>
                {{/each}}
              </select>
            </div>
            <button type="submit" class="btn btn-default filter-btn filter-submit" title="Filter"><i class="fa fa-filter"></i></button>
            <button type="reset" class="btn btn-default filter-btn clear-filter" title="Clear"><i class="fa fa-minus-square-o"></i></button>
          </form>
        </div>
        {{/if}}
        <div class="btn-toolbar" role="toolbar">
          <span class="btn-group-label">Sort by</span>
          <div class="btn-group sort-by-btn-group" role="group" aria-label="Sort by">
            <button type="button" data-sort-by="name" class="active btn btn-default">Name</button>
            <button type="button" data-sort-by="category" class="btn btn-default">Category</button>
            <button type="button" data-sort-by="org" class="btn btn-default">Data Provider</button>
            <button type="button" data-sort-by="type" class="btn btn-default">Type</button>
            <button type="button" data-sort-by="original-order" class="btn btn-default">Recently Added</button>
          </div>
        </div>
        <ul class="add-widget-grid">
        {{# each widgetPackages }}
          <li class="addable-widget" id="{{ packageName }}">
            <div class="checkbox checkbox-success checkbox-big">
              <input type="checkbox" id="checkbox-{{ packageName }}">
              <label for="checkbox-{{ packageName }}"></label>
            </div>
            <h2>{{ metadata.widget.name }}</h2>
            <p>{{ metadata.widget.description }}</p>
            <footer>
              {{# if metadata.org }}
              <div class="provided-by">
                <small>
                  Data provided by
                  <a href="{{ metadata.org.url }}" target="_blank">{{ metadata.org.name }}</a>
                </small>
              </div>
              {{/if}}
              {{# if metadata.widget.category }}
                <div class="package-category" style="{{ categoryStyle }}">
                  <small>{{ category.name }}</small>
                </div>
              {{/if}}
              {{# if metadata.widget.typeIcon }}
                <i class="widget-type-icon fa fa-{{ metadata.widget.typeIcon }}"></i>
              {{/if}}
            </footer>
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-add-widgets">Add Widgets</button>
      </div>
    </div>
  </div>
</div>
</template>

