<template name="DashboardsAdd">
<a href="#" class="btn-add-widget dash-btn" data-toggle="modal"
   title="Add widgets" data-target=".add-widget-modal">
</a>

<div class="add-widget-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="addWidget" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add Widgets</h4>
      </div>
      <div class="modal-body">
        <div class="btn-toolbar" role="toolbar">
          <span class="btn-group-label">Sort by</span>
          <div class="btn-group sort-by-btn-group" role="group" aria-label="Sort by">
            <button type="button" data-sort-by="name" class="active btn btn-default">Name</button>
            <button type="button" data-sort-by="category" class="btn btn-default">Category</button>
            <button type="button" data-sort-by="org" class="btn btn-default">Data Provider</button>
            <button type="button" data-sort-by="type" class="btn btn-default">Type</button>
            <button type="button" data-sort-by="original-order" class="btn btn-default">Recently Added</button>
          </div>
        </div>
        <ul class="add-widget-grid">
        {{# each widgetPackages }}
          <li class="addable-widget">
            <div class="checkbox checkbox-success checkbox-big">
              <input type="checkbox" id="checkbox-{{ packageName }}">
              <label for="checkbox-{{ packageName }}"></label>
            </div>
            <h2>{{ metadata.widget.name }}</h2>
            <p>{{ metadata.widget.description }}</p>
            <footer>
              {{# if metadata.org }}
              <div class="provided-by">
                <small>
                  Data provided by
                  <a href="{{ metadata.org.url }}" target="_blank">{{ metadata.org.name }}</a>
                </small>
              </div>
              {{/if}}
              {{# if metadata.widget.category }}
                <div class="package-category" style="{{ categoryStyle }}">
                  <small>{{ category.name }}</small>
                </div>
              {{/if}}
              {{# if metadata.widget.typeIcon }}
                <i class="widget-type-icon fa fa-{{ metadata.widget.typeIcon }}"></i>
              {{/if}}
            </footer>
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-add-widgets">Add Widgets</button>
      </div>
    </div>
  </div>
</div>
</template>

