<template name="DashboardsShow">
{{# if noWidgets }}
<div class="container">
  <div class="jumbotron" id="instructions">
    <h2 class="text-center">Welcome to your new dashboard!</h2>
    <p>A few things to know:</p>
    <ul>
      <li><p>Click on the <span class="btn-add-widget dash-btn"><span class="glyphicon glyphicon-plus"></span></span> to add your first widget.</p></li>
      <li><p>Dashboards can hold as many widgets as you like, each with their own settings.</p></li>
      <li><p>To compare data across countries and regions, you can add multiple copies of widgets.</p></li>
      <li><p>Once you've added some widgets, you can rearrange them however you'd like.</p></li>
      <li><p>If you'd like to share this dashboard with others or visit it again later, make sure to keep a copy of the URL.</p></li>
    </ul>
  </div>
</div>
{{/if}}

<div id="dashboard" class="gridster">
  <ul id="widgets">
    {{# each widgets }}
      {{> WidgetShow }}
    {{/each}}
  </ul>
</div>
{{# if editable }}
  {{> DashboardsSettings }}
  {{> DashboardsAdd }}
{{/if}}
</template>

<template name="DashboardsSettings">
<a href="#" class="btn-dash-settings dash-btn"
  data-toggle="modal" data-target=".dash-settings">
  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</a>

<div class="dash-settings modal fade" tabindex="-1" role="dialog"
  aria-labelledby="Settings" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Dashboard Settings</h4>
      </div>
      <div class="modal-body">
        {{# if iAmOwner }}
        <div class="checkbox">
          <label>
            <input type="checkbox" id="dash-public-edit" checked="{{ publiclyEditable }}">
            Anyone with the link can edit this dashboard
          </label>
        </div>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary save-settings">Save</button>
      </div>
    </div>
  </div>
</div>
</template>

<template name="DashboardsAdd">
<a href="#" class="btn-add-widget dash-btn" data-toggle="modal" data-target=".add-widget-modal">
  <span class="glyphicon glyphicon-plus"></span>
</a>

<div class="add-widget-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="addWidget" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a Widget</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group widget-options">
        {{# each availableWidgets }}
          <li class="widget-option list-group-item">
            <a href="#" class="add-widget btn btn-success btn-sm pull-right">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <h2>{{ metadata.widget.name }}</h2>
            <p>{{ metadata.widget.description }}</p>
            {{# if metadata.org }}
            <small class="provided-by">
              Data provided by:
              <a href="{{ metadata.org.url }}" target="_blank">{{ metadata.org.name }}</a>
            </small>
            {{/if}}
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
