<template name="DashboardsShow">
{{# if noWidgets }}
<div class="container">
  <div class="jumbotron" id="instructions">
    {{# if editable }}
      <h2 class="text-center">Welcome to your new dashboard!</h2>
      <p>A few things to know:</p>
      <ul>
        <li><p>Click on the <span class="btn-add-widget dash-btn"></span> to add your first widget.</p></li>
        <li><p>Dashboards can hold as many widgets as you like, each with their own settings.</p></li>
        <li><p>To compare data across countries and regions, you can add multiple copies of widgets.</p></li>
        <li><p>Once you've added some widgets, you can rearrange them however you'd like.</p></li>
        {{# unless currentUser }}
        <li><p>If you'd like to share this dashboard with others or visit it again later, make sure to keep a copy of the URL.</p></li>
        {{/unless}}
      </ul>
    {{else}}
    <p class="text-center">There are currently no widgets in this dashboard.</p>
    {{/if}}
  </div>
</div>
{{/if}}

<div id="dashboard" class="gridster">
  <ul id="widgets">
    {{# each widgets }}
      {{> WidgetShow }}
    {{/each}}
  </ul>
</div>
{{# if editable }}
  {{# unless noWidgets }}
  <a href="#" class="btn-dash-set-country dash-btn {{ settingCountryState }}"
     title="{{ settingCountryTitle }}">
  </a>
  <a href="#" class="btn-dash-duplicate dash-btn {{ duplicatingState }}"
     title="{{ duplicatingTitle }}">
  </a>
  {{/unless}}
  {{> DashboardsSettings }}
  {{> DashboardsAdd }}

  {{# if duplicating }}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Select the widgets you want to copy and click the button again to finish.
    </div>
  {{/if}}

  {{# if settingCountry }}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ol class="list-unstyled">
        <li>
          Select the country:
          <div class="form-group">
            <select class="form-control" id="set-country-country">
              {{# each countries }}
              <option value="{{ code }}">{{ name }}</option>
              {{/each}}
            </select>
          </div>
        </li>
        <li>Select the widgets.</li>
        <li>Click the button again to finish.</li>
      </ol>
    </div>
  {{/if}}
{{/if}}
</template>
