<head>
<title>Dashboards</title>
</head>

<body>
</body>

<template name="DashboardsShow">
  <div id="dashboard">
  {{#each widgets}}
    {{> WidgetShow }}
  {{/each}}
  </div>
  {{> DashboardsAdd }}
</template>

<template name="WidgetShow">
  <div class="widget col-{{ width }} row-{{ height }} {{widgetClass }}" id="{{ widgetId }}">
    <div class="buttons">
      {{# if providesInfo }}
      <a class="about" href="#" id="{{ widgetId 'about' }}"
        title="About" data-toggle="popover" data-trigger="click"
        data-html="true" data-placement="auto right" data-container="body">
        <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
      </a>
      <div class="hidden for-{{ widgetId 'about' }}">
        {{> Template.dynamic template=infoTemplate data=data }}
      </div>
      {{/if}}

      {{# if providesSettings }}
      <a class="settings" href="#" id="{{ widgetId 'settings' }}"
        title="Settings" data-toggle="popover" data-trigger="click"
        data-html="true" data-placement="auto right" data-container="body">
        <span class="glyphicon glyphicon-cog">&nbsp;</span>
      </a>
      <div class="hidden for-{{ widgetId 'settings' }}">
        {{> Template.dynamic template=settingsTemplate data=data }}
      </div>
      {{/if}} 
      <a href="#" class="remove-widget" title="Remove widget">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>

   {{> Template.dynamic template=widgetTemplate data=data }}
  </div>
</template>

<template name="DashboardsAdd">
<a href="#" class="btn-add-widget" data-toggle="modal" data-target=".add-widget-modal">+</a>

<div class="add-widget-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="addWidget" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a Widget</h4>
      </div>
      <div class="modal-body">
        {{# each availableWidgets }}
        <div class="widget-option">
          <a href="#" class="add-widget">Add {{ displayName }}</a>
        </div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
