<template name="Header">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="logo-wrapper">
            <a class="navbar-brand" href="/">
              <span class="logo-image" title="Internet Monitor"></span>
            </a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-right.navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-right collapse navbar-collapse">
          {{# if onDashboard }}
          <a class="btn btn-warning navbar-btn" id="copy-dashboard"
             title="Make a new copy of this dashboard">
            Clone
          </a>
          {{/if}}
          {{# if notHome }}
          <a class="btn btn-success navbar-btn new-dashboard"
             href="{{ pathFor route='dashboards-new' }}">
            New Dashboard
          </a>
          {{/if}}
          {{# if currentUser }}
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">
                  My Account <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ pathFor route='users-dashboards' }}">My Dashboards</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="sign-out" id="sign-out">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          {{else}}
            <a href="/users/sign-in" class="btn btn-info navbar-btn">Sign In</a>
            <a href="/users/sign-up" class="btn btn-primary navbar-btn">Sign Up</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>
</template>
