<template name="Header">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="logo-image" title="Internet Monitor"></span>
          </a>
        </div>
        <div class="navbar-right">
          {{# if onDashboard }}
          <a class="btn btn-success"
             href="{{ pathFor route='dashboards.new' }}">
            New Dashboard
          </a>
          {{/if}}

          {{# if currentUser }}
            <button class="btn btn-primary sign-out navbar-btn" id="sign-out">
              Sign Out
            </button>
          {{else}}
            <a href="/users/sign-in" class="btn btn-primary navbar-btn">
              Sign In
            </a>
            <a href="/users/sign-up" class="btn btn-info navbar-btn">
              Sign Up
            </a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>
</template>
