<template name="UsersDashboards">
<div class="container page">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      {{> UsersProfileContent }}

      <h2>My Dashboards</h2>
      <table class="my-dashboards table table-condensed">
        <thead>
          <tr>
            <th>Title</th>
            <th>Publicly Editable</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
      {{# each dashboards }}
      <tr>
        <td>
        <a href="{{ pathFor route='dashboards-show' data=dashParams }}">
          {{ title }}
        </a>
        </td>
        <td>
        {{# if publiclyEditable }} Yes {{else}} No {{/if}}
        </td>
        <td>
          <a href="#" class="delete-dash text-danger" data-did="{{ _id }}">
            Delete
          </a>
        </td>
      </tr>
      {{else}}
        <tr><td>
          <p>You do not currently own any dashboards, so it's time to
          <a href="{{ pathFor route='dashboards-new' }}">make one!</a>
          </p>
        </td></tr>
      {{/each}}
      </tbody>
      </table>
    </div>
  </div>
</div>
</template>
