.wikiedit-stream {
  padding: 6px 12px;
}

.wikiedit-stream .wikiedits {
  padding: 0;
  /* box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.25);*/
  max-height: 220px;
  overflow-y: hidden;
}

.wikiedit-stream .wikiedits li {
  padding: 3px 10px;
}

.wikiedit-stream .wikiedits li:nth-child(odd) {
  background: #F4F4F4;
}
