.wikiedits {
  padding: 8px 18px;
}

.wiki-history {
  position: relative;
  height: 75px;
  width: 320px;
  left: -18px;
}

.wiki-history .edits .area {
  fill: #428BCA;
}

.wiki-history-count{
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: white;
  font-size: 2em;
  z-index: 1000;
  font-weight: 300;
}
