.wikiedits {
  padding: 6px 12px;
}

.wikiedits p {
  white-space: nowrap;
}

.wiki-history {
  position: relative;
  height: 77px;
  width: 320px;
  left: -12px;
}

.wiki-history .edits .area {
  fill: #428BCA;
}

.wiki-history-count{
  position: absolute;
  bottom: 2px;
  left: 12px;
  color: #D0D0D0;
  font-size: 2.2em;
  z-index: 1000;
  font-weight: 300;
}

.wikiedits .widget-data-source a {
  color: #D3D3D3;
}
