@font-face {
    font-family: 'bpdotssquaresregular';
    src: url('bpdotssquares_regular_macroman/BPdotsSquare-webfont.eot');
    src: url('bpdotssquares_regular_macroman/BPdotsSquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('bpdotssquares_regular_macroman/BPdotsSquare-webfont.woff') format('woff'),
         url('bpdotssquares_regular_macroman/BPdotsSquare-webfont.ttf') format('truetype'),
         url('bpdotssquares_regular_macroman/BPdotsSquare-webfont.svg#bpdotssquaresregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.netclerk ul {
  font-family: 'bpdotssquaresregular', monospace;
  font-size: 3.6em;
  left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
}

.netclerk li {
  display: inline-block;
  margin: 0 1em;
}

.netclerk .up {
  color: #90e990;
}

.netclerk .up .delta:after {
  content: '▲';
}

.netclerk .down {
  color: #f2908d;
}

.netclerk .down .delta:after {
  content: '▼';
}
