.percent-online {
  padding: 10px 20px;
}

.fa {
  font-size: 14px;
}

.fa.online {
  color: rgba(174, 203, 163, 0.8);
}

.fa.offline {
  color: rgba(217, 217, 217, 0.55)
}

.online-users {
  width: 275px;
  line-height: 14px;
  margin: -8px auto;
}

.indicator-value {
  position: absolute;
  right: 78px;
  font-size: 82px;
  bottom: -12px;
  font-weight: 700;
  color: #DBDBDB;
}
