.percent-online .fa {
  font-size: 10px;
}

.percent-online .fa.online {
  color: rgb(186, 89, 100);
}

.percent-online .fa.offline {
  color: rgb(217, 217, 217);
}

.percent-online .online-users {
  width: 72%;
  line-height: 0px;
}

.percent-online .indicator-value {
  position: absolute;
  right: 8px;
  font-size: 42px;
  bottom: 20px;
  color: #888;
}

.percent-online h2, .percent-online h3{
  display:inline;
}

.percent-online h3{
  float:right;
}

.percent-online.country-hidden .online-users {
  margin-top: 1.5rem;
}

.percent-online.country-hidden .indicator-value {
  top: 5.5rem;
  bottom: auto;
}
