.fa {
  font-size: 10px;
}

.fa.online {
  color: rgb(174, 203, 163);
}

.fa.offline {
  color: rgb(217, 217, 217);
}

.online-users {
  width: 212px;
  line-height: 0px;
}

.indicator-value {
  position: absolute;
  right: 8px;
  font-size: 42px;
  bottom: 20px;
  color: #888;
}
