gsma-prepaid h2 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsma-prepaid .no-data {
  padding: 1em;
}

.gsma-prepaid .epoch.prepaid-connections {
  height: 60px;
}

.gsma-prepaid .epoch.prepaid-connections .line {
  stroke-width: 1.5px;
  stroke: #ff7f0e;
}
