.gsma-total h2 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsma-total .no-data {
  padding: 1em;
}

.gsma-total .epoch.mobile-connections {
  height: 60px;
}

.gsma-total .epoch.mobile-connections .line {
  stroke-width: 1.5px;
}
