.imon-timeline-settings .countries-select-box{
  height: 10em;
  overflow: auto;
  border: 1px solid #ccc;
  padding-left: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.imon-timeline-settings .checkbox-small input[type="checkbox"]:checked + label::before,
.checkbox-small input[type="radio"]:checked + label::before{
  background-color: #428bca;
  border-color: #428bca;
}

.imon-timeline-settings .countries-select-number{
  opacity: 0.8;
}

.imon-timeline-settings .countries-option:checked + label{
  font-weight: bold;
}

.imon-timeline-settings #deselect-countries{
  font-size: 0.8em;
}