.image-block .widget-body {
  padding: 0 !important;
}
.widget.image-block .title-bar {
  position: absolute;
  background-color: rgba(80, 80, 80, 0.6);
}
.image-block .title-bar .buttons a {
  color: #DADADA;
}
