.imon-percent .fa {
  font-size: 1em;
  color: #6192BD;
}

.imon-percent .fa.colored {
  opacity: 1;
}

.imon-percent .fa.plain {
  opacity: 0.5;
}

.imon-percent .online-users {
  line-height: 0px;
}

.imon-percent .no-data {
  margin-top: 2em;
  text-align: right;
  margin-right: 1em;
}

.imon-percent .indicator-value {
  font-size: 3em;
  font-weight: bold;
  color: #888;
}